$size: 60vh;
$border: $size/75;
@import url(https://fonts.googleapis.com/css?family=Sacramento);
$font-family: 'Sacramento', cursive;
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
$fancy-font: 'Montserrat', sans-serif;
