// Variables

$light-grey: #ccc;
$dark-grey: #222;

$text-color: $dark-grey;

$color-background: #F5F5F5;
$color-main: #9dbed8;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;
$font-family: 'Maven Pro', sans-serif;
