html { background: #1B0E31; }

body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse at center, rgba(black, .03) 50%,rgba(black, .7) 100%);
  display: flex;
  align-items: center;
  overflow: hidden
}




.sign {
  box-sizing: border-box;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 4em;

  h1 {
    margin: 0;
    position: absolute;
   
    top: 7em;
    span {
      box-sizing: border-box;
      color: #FBA7C3;
      font: 3em $fancy-font;
      text-align: center;
      text-shadow: 0 0 $size/50 #EF7CA3, 0 0 $size/30 #E91E63;
      text-transform: uppercase;

      transform-origin: bottom center;
      &.out {
        animation: Flicker .2s infinite;
      }
    }
  }
    h2 {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 13em;
    span {
      box-sizing: border-box;
      color: #FBA7C3;
      font: $size/8 $fancy-font;
      text-align: center;
      text-shadow: 0 0 $size/50 #EF7CA3, 0 0 $size/30 #E91E63;
      text-transform: uppercase;
      position: absolute;
      transform-origin: bottom center;
      &.out {
        animation: Flicker .2s infinite;
      }
    }
  }

  .cntr {
    box-sizing: border-box;
      position: absolute;
      text-align: center;
    height: $size*.65;
    width: $size*.65;
    

    color: white;
    p {
      margin: $size/4 0;
      color: #D7A7FB;
      font: 8em $font-family;
      text-align: center; 
        position: absolute;
      text-shadow: 0 0 $size/80 #7C3888, 0 0 $size/40 #B690F9;
      span {
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            animation: text 3s #{$i * .4s} infinite;
          }
        }
      }
    }
  }
}

@keyframes text {
  to {
    color: rgba(215, 167, 251, .4);
    text-shadow: none;
  }
}

@keyframes Flicker {
  60%, 80% {
    color: #A599A2;
    text-shadow: 0 0 $size/50 rgba(239, 124, 163, 0.45), 0 0 $size/30 rgba(233, 30, 99, 0.47);

  }
  70%, 100% {
    color: #F1BEEF;
    text-shadow: 0 0 $size/30 #EF7CA3, 0 0 $size/20 #E91E63;
  }
}