html { background: #1B0E31; }

body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(ellipse at center, rgba(black, .03) 50%,rgba(black, .7) 100%);
  display: flex;
  align-items: center;
  overflow: hidden
}




.sign {
  box-sizing: border-box;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;

  h1 {
    margin: 0;
   
    top: 7em;
    span {
      box-sizing: border-box;
      color: #ff9a7a;
      font: 3em $fancy-font;
      text-align: center;
      text-shadow: 0 0 $size/50 #ff9a7a, 0 0 $size/30 #fe3d00;
      text-transform: uppercase;

      transform-origin: bottom center;
      &.out {
        animation: Flicker .2s infinite;
      }
    }
  }
    h2 {
    left: 50%;
    top: 14em;
    margin-bottom: -1em;
    span {
      box-sizing: border-box;
      color: #ffe987;
      font: $size/8 $fancy-font;
      text-align: center;
      text-shadow: 0 0 $size/50 #ffe987, 0 0 $size/30 #ffeb00;
      text-transform: uppercase;
      transform-origin: bottom center;
      &.out {
        animation: Flicker .2s infinite;
      }
    }
  }

  .cntr {
    box-sizing: border-box;
      text-align: center;
    

    color: white;
    p {
      margin: 0;
      color: #0cd88b;
      font: 12em $font-family;
      text-align: center; 
      text-shadow: 0 0 $size/80 #08905c, 0 0 $size/40 #ffe987;
      span {
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            animation: text 3s #{$i * .4s} infinite;
          }
        }
      }
    }
  }
}

@keyframes text {
  to {
    color: rgba(12, 216, 139, 0.21);
    text-shadow: none;
  }
}

@keyframes Flicker {
  60%, 80% {
    color: #ffe987;
    text-shadow: 0 0 $size/50 rgba(255, 233, 135, 1), 0 0 $size/30 rgba(255, 233, 135, 1);

  }
  70%, 100% {
    color: #ffe987;
    text-shadow: 0 0 $size/30 #ffe987, 0 0 $size/20 #08905c;
  }
}